[Desktop Entry]
Type=Application
GenericName=Show / Hide Icons
Name=Show / Hide Icons
Exec=show-hide-files-desktop
X-DFM-NotShowIn=FileManager
Name[zh_CN]=显示/隐藏图标
Name[zh_TW]=显示/隐藏图标
Name[en]=Show / Hide icons
Name[es]=Mostrar / Ocultar iconos
Name[fr]=Afficher / Masquer les icônes
Name[it]=Mostra / Nascondi icone
Name[pt]=Mostrar / Ocultar ícones
Name[pt_BR]=Mostrar / Ocultar ícones
Name[sr]=Прикажи / Cакриј иконе
Name[ru]=Показать / Скрыть значки
Name[tr]=Simgeleri Göster / Gizle
